<div class="inner cover">
    <h1 class="cover-heading">Bienvenido al sitio oficial de la Copa Mundial de la FIFA 2018</h1>
    <p class="lead">
        Aquí podrás ver los equipos participantes en el Mundial de Rusia 2018. Esta aplicación Web,
        fue realizada con una estructura de Arbol Binario. Ahora selecciona como quieres trabajar el Arbol:
    </p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-default">Entero (int)</a>
        <a href="#" class="btn btn-lg btn-default">Cadena (string) </a>
        <a href="#" class="btn btn-lg btn-default">País (objeto)</a>
    </p>
</div>

<div class="mastfoot">
    <div class="inner">
        <p>Pablo Grajeda (1006517)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Javier Mollinedo(1062217)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Est. 2018</p>
    </div>
</div>